body {
    background-color: black;
    text-align: center;
}

#clockDisplay {
    color: white;
    position: absolute; /* We want to position this element exactly on the screen where we want it */
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#dateDisplay {
    color: white;
    position: absolute; /* We want to position this element exactly on the screen where we want it */
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}